langchain_openai
langchain_core
streamlit
langchain
python-dotenv
openpyxl
langchain_community
langchain_chroma
networkx
python-docx
pytesseract
sentence_transformers
fuzzywuzzy
python-docx
mkdocs
mkdocs-material
mkdocstrings
mkdocstrings-python